@charset "UTF-8";

body {
    min-width: 350px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px 15px 15px;
    margin-bottom: 50px;
}



#right{
    display: flex;
    align-items: center;
    justify-content: center;
}


.dinho {
    width: 33px;
    border: green;
}

a {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

 main {
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 125px;
 }

 .searchbar{
    margin: auto;
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 40px;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
 }


 .searchbar:hover{
     box-shadow: 0px 0px 3px rgb(0 0 0 / 25%);
 }


 .searchinput {
    border:none;
    outline: none;
    width: 370px;
    height: 30px;
    font-size: 1.1em;
 }

 #searchicon {
    color: rgb(167, 165, 165);
 }

 .searchmic {
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 30px;
 }

 .searchbuttons {
    border: none;
    padding: 10px;
    color: #000;
    opacity: 0.75;
    font-size: 1em;
    margin-right: 10px;
 }

.searchbuttons:hover{
    box-shadow: 0px 0px 2px 1px rgb(0 0 0 / 36%);
 }

 footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(238, 235, 235);
    box-shadow: 0px 0px 2px 1px rgba(168, 167, 167, 0.699);
    height: 44px;
 }

 footer > nav > a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(43, 43, 44);
 }

 @media (max-width: 650px) { 


 footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    
 }
 
 footer > nav > a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    margin-left: 5px;
    color: rgb(43, 43, 44);
 }

 .searchbar {
     width: 100% ;
 }


 }